.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navbar styling */
.nav-bar {
  background-color: #282c34;
  text-align: right;
  padding: 15px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  padding: 10px;
}

.App-link:hover {
  color: rgb(221, 90, 66);
  text-decoration: none;
}

.active-nav {
  color: rgb(221, 90, 66);
}

.hide-nav {
  display: none
}

/*End of Navbar styling */



/* Form styling */
.container {
  color: gray;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 70%;
  text-align: center
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select,
textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.register-form input {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

button {
  background-color: #282c34;
  color: #61dafb;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.wrong-creds {
  color: red;
  font-size: 14px
}

/*End of Form styling */

/* List of recipes */

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 20px 10px
}

.crud-container {
  display: flex;
  justify-content: space-around;
}

.crud-buttons {
  float: center;
  width: 25%;
}

.image-container {
  display: flex;
  justify-content: center;

}

img {
  height: 150px;
  width: auto;
  padding: 5px
}

progress {
  width: 90%;
}